:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }
  /* fond de la barre */
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
  }
  /* barre */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 100vh;
    border: 1px solid #93948e;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}

@layer components {
  .ajouterEnregistrer {
    @apply cursor-pointer bg-sky-100 border-2 border-sky-700 hover:bg-sky-200 rounded-lg;
  }




  
  /* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
